Inventory Management.json
{
  "name": "Inventory Management",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        -16
      ],
      "id": "88b6d834-ca4e-45c7-b375-0d31b409d094",
      "name": "Telegram Trigger",
      "webhookId": "d0da7959-d3ee-4249-8d37-ea8052cec7f7",
      "credentials": {
        "telegramApi": {
          "id": "48lSJCHVpbjUx5RY",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "bdf72e81-4336-4f63-8e8b-8b98e0e8f1c8",
              "name": "message.text",
              "value": "={{ $json.message.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        224,
        -16
      ],
      "id": "b4bcf1cd-f0a9-4949-bce2-5511bf6c1304",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.text }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=**Role:** JSON Data Generator (Robotic Mode).\n**Constraint:** Return ONLY a raw JSON object. NO markdown (no ```), NO preamble, NO chat, NO closing remarks. \n\n**Instruction:**\n1. Process the provided Airtable data.\n2. Logic: If \"Number of inventory\" <= \"Re-order Threshold\", set \"Need of Re-order\" to \"YES\". Otherwise, \"NO\".\n3. Telegram Logic: If \"Need of Re-order\" is \"YES\", the \"output\" field must start with \"ACTION:SEND_TELEGRAM | Message: [Item Name] is low ([Current Stock])\".\n\n**Strict JSON Schema:**\n{\n  \"Inventory\": \"string\",\n  \"Number of inventory\": number,\n  \"Re-order Threshold\": number,\n  \"Need of Re-order\": \"string\",\n  \"output\": \"string\"\n}\n\n**Data Handling:**\n- Single Item: Fill all keys based on the record.\n- Multiple Items: Set \"Inventory\" to \"Multiple\", \"Number of inventory\" to 0, \"Re-order Threshold\" to 0, and list all item details in the \"output\" string."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        464,
        -16
      ],
      "id": "d0f1f996-5f37-4a05-90a1-bcc091f5fdbf",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        256,
        224
      ],
      "id": "0fb13108-be11-4e05-a15e-b49bcbc99753",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "FuQa8PdcY9LH2PbX",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "contextWindowLength": 20
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        432,
        208
      ],
      "id": "44059849-aed0-47ea-913c-8b7a2e23906e",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{ \n  \"Inventory\": \"10w30 oil\",\n  \"Number of inventory\": 5,\n  \"Re-order Threshold\": 2,\n  \"Inventory type\": \"Vehicle Supplies\",\n  \"Need of Re-order\": \"NO\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        960,
        208
      ],
      "id": "25f6acb2-2844-4d00-9a16-76043f769aab",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output.Inventory }} has {{ $json.output['Number of inventory'] }} in inventory",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        880,
        -16
      ],
      "id": "5a63127a-17ae-44b4-b8a1-f0b23e9931b8",
      "name": "Send a text message",
      "webhookId": "7478d2c8-4fc0-449f-b68e-1a14e3fd62aa",
      "credentials": {
        "telegramApi": {
          "id": "48lSJCHVpbjUx5RY",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Search records in Airtable",
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appkYmOVGFMr448MQ",
          "mode": "list",
          "cachedResultName": "inventory",
          "cachedResultUrl": "https://airtable.com/appkYmOVGFMr448MQ"
        },
        "table": {
          "__rl": true,
          "value": "tblLZq5h3XKEXJBAg",
          "mode": "list",
          "cachedResultName": "Inventory",
          "cachedResultUrl": "https://airtable.com/appkYmOVGFMr448MQ/tblLZq5h3XKEXJBAg"
        },
        "filterByFormula": "=",
        "returnAll": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Return_All', ``, 'boolean') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.airtableTool",
      "typeVersion": 2.2,
      "position": [
        592,
        240
      ],
      "id": "eab5c961-63c2-434d-949d-17c42a665b57",
      "name": "Search records in Airtable",
      "credentials": {
        "airtableTokenApi": {
          "id": "r3fC3ksmdYBU1VQm",
          "name": "Lead Agent air table"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "appkYmOVGFMr448MQ",
          "mode": "list",
          "cachedResultName": "inventory",
          "cachedResultUrl": "https://airtable.com/appkYmOVGFMr448MQ"
        },
        "table": {
          "__rl": true,
          "value": "tblLZq5h3XKEXJBAg",
          "mode": "list",
          "cachedResultName": "Inventory",
          "cachedResultUrl": "https://airtable.com/appkYmOVGFMr448MQ/tblLZq5h3XKEXJBAg"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('id__using_to_match_', ``, 'string') }}",
            "Inventory": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Inventory', ``, 'string') }}",
            "Number of inventory": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Number_of_inventory', ``, 'number') }}",
            "Re-order Threshold": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Re-order_Threshold', ``, 'number') }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "Inventory",
              "displayName": "Inventory",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Number of inventory",
              "displayName": "Number of inventory",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Re-order Threshold",
              "displayName": "Re-order Threshold",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Inventory type",
              "displayName": "Inventory type",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Vehicle Supplies",
                  "value": "Vehicle Supplies"
                },
                {
                  "name": "Job Material",
                  "value": "Job Material"
                },
                {
                  "name": "Done",
                  "value": "Done"
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Need of Re-order",
              "displayName": "Need of Re-order",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Attachment Summary",
              "displayName": "Attachment Summary",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtableTool",
      "typeVersion": 2.2,
      "position": [
        784,
        192
      ],
      "id": "d032ae21-6dff-4609-a495-8c33bcda775d",
      "name": "Update record in Airtable",
      "credentials": {
        "airtableTokenApi": {
          "id": "NiSY5Iy2qtQkscLP",
          "name": "Unnamed credential"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search records in Airtable": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Update record in Airtable": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "45753f18-e630-4782-856a-f3504879dafb",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "32d2ca5fdff6b81eed55290435ebbbc299eeda88d096195f910ff11fa084db5a"
  },
  "id": "JA7ln5oYo2zWaudW",
  "tags": []
}