Lead Qualification Agent.json
{
  "name": "Lead Qualification Agent",
  "nodes": [
    {
      "parameters": {
        "formTitle": "Lead AI agent",
        "formDescription": "The more we know about your needs, the better we can easier our offer-start by starting a few quick details",
        "formFields": {
          "values": [
            {
              "fieldLabel": "What is your name?",
              "requiredField": true
            },
            {
              "fieldLabel": "What is your email address?",
              "fieldType": "email",
              "requiredField": true
            },
            {
              "fieldLabel": "What is your Company name?",
              "requiredField": true
            },
            {
              "fieldLabel": "What is your website URL?",
              "requiredField": true
            },
            {
              "fieldLabel": "What is your company size?",
              "requiredField": true
            },
            {
              "fieldLabel": "What is your budget?",
              "requiredField": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.5,
      "position": [
        -960,
        -16
      ],
      "id": "d2ad1e45-6c48-4c91-b7c8-c738b55f0a66",
      "name": "On form submission",
      "webhookId": "40cce09c-760b-4965-969c-ef4a95b93902"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "You are an export lead qualification assistant working for a business",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=\n\nYour task is to review each lead's details and provide:\n\n1. A lead score between 0 and 50 — the higher the score, the more qualified the lead is.\n2. A short explanation of the score — why you assigned that score.\n3. Qualification status: Hot, Warm, or Cold based on:\n\n• Hot -> 25-50 (Highly qualified, ready for sales)\n• Warm -> 15-24 (Potential, needs nurturing)\n• Cold -> 0-14 (Low quality or irrelevant)\n\n### Here's the lead's information:\n• Name: {{ $json['What is your name?'] }}\n• Email Address: {{ $json['What is your email address?'] }}\n• Company Name:{{ $json['What is your Company name?'] }}\n• Website URL: {{ $json['What is your website URL?'] }}\n• Company Size: {{ $json[\"What is your company size?\"] }}\n• Budget: {{ $json[\"What is your budget?\"] }}\n\n### How to evaluate:\n• Leads with professional company email addresses (not @gmail.com/@yahoo.com) score higher.\n• Leads with valid websites and larger company size score higher.\n• Higher budget ranges get higher scores.\n• If the company name appears generic or missing, score lower.\n• Missing or fake data lowers the score.\n\n### Response format (JSON):\n{\n  \"output\": {\n    C\n  }\n}\n\n\n\n## ✅ Example of the Response I Expect:\n\njson\n{\n  \"output\": {\n    \"score\": 45,\n    \"status\": \"Hot\",\n    \"explanation\": \"The lead has a company website, a large company size (51-200 employees), provided a professional email, and indicated a budget of $5,000+, suggesting strong potential.\"\n  }\n}\n\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -464,
        -16
      ],
      "id": "7b0dfe7d-8f27-426d-9ecd-8c3c6d6562e5",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -512,
        208
      ],
      "id": "bcf1e5a6-2391-4835-bf6b-9dba765d3609",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "FuQa8PdcY9LH2PbX",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.submittedAt }}",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -384,
        208
      ],
      "id": "02c7e34c-b5b0-4038-a15b-a0b6eeb59e33",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \n    \"score\": \"<number 0-50>\",\n    \"status\": \"<Hot | Warm | Cold>\",\n    \"explanation\": \"<short explanation here>\"\n  \n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        -256,
        208
      ],
      "id": "ffba2f8a-6546-47d1-9419-a65582bd01ab",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "amount": 7
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -736,
        -16
      ],
      "id": "3fb7e939-61ad-464d-ad5a-3af2c865da31",
      "name": "Wait",
      "webhookId": "6ca5db4d-9295-4eae-8999-3b3b04c44f0a"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.output.status }}",
                    "rightValue": "Hot",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "284606b3-de86-4e13-9aff-323bc483cb13"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Hot"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "40620f96-5ff9-4311-95f3-3aeceba6b813",
                    "leftValue": "={{ $json.output.status }}",
                    "rightValue": "Warm",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Warm"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "dad7c923-98d5-4f58-81a8-128cf4085b55",
                    "leftValue": "={{ $json.output.status }}",
                    "rightValue": "Cold",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Cold"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -48,
        -32
      ],
      "id": "94554177-3ffe-42c5-b8d3-0abddbb88245",
      "name": "Switch"
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "appmhTaSehLOScTxq",
          "mode": "list",
          "cachedResultName": "Lead Agent",
          "cachedResultUrl": "https://airtable.com/appmhTaSehLOScTxq"
        },
        "table": {
          "__rl": true,
          "value": "tblbiODu933NjyeQT",
          "mode": "list",
          "cachedResultName": "Table 1",
          "cachedResultUrl": "https://airtable.com/appmhTaSehLOScTxq/tblbiODu933NjyeQT"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Name": "={{ $('On form submission').item.json['What is your name?'] }}",
            "Status": "={{ $('AI Agent').item.json.output.status }}",
            "Score": "={{ $('AI Agent').item.json.output.score }}",
            "Email address": "jayaprakash6397@gmail.com ",
            "Company Name": "={{ $('On form submission').item.json['What is your Company name?'] }}",
            "Web site URL": "={{ $('On form submission').item.json['What is your website URL?'] }}",
            "Company size": "={{ $('On form submission').item.json['What is your company size?'] }}",
            "Budget": "={{ $('On form submission').item.json['What is your budget?'] }}",
            "Explaination": "={{ $('AI Agent').item.json.output.explanation }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Hot",
                  "value": "Hot"
                },
                {
                  "name": "Warm",
                  "value": "Warm"
                },
                {
                  "name": "Cold",
                  "value": "Cold"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Score",
              "displayName": "Score",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Email address",
              "displayName": "Email address",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Company Name",
              "displayName": "Company Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Web site URL",
              "displayName": "Web site URL",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Company size",
              "displayName": "Company size",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Budget",
              "displayName": "Budget",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Explaination",
              "displayName": "Explaination",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.2,
      "position": [
        176,
        -208
      ],
      "id": "fa11d282-0081-4365-9b3b-1568aa4def67",
      "name": "Create a record",
      "credentials": {
        "airtableTokenApi": {
          "id": "r3fC3ksmdYBU1VQm",
          "name": "Lead Agent air table"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $json.fields['Email address'] }}",
        "subject": "hello JP",
        "emailType": "text",
        "message": "=Hello Mr/Mrs.{{ $json.fields.Name }}  \n\nLead Details: \n• Name: {{ $json.fields.Name }} \n• Company: {{ $json.fields['Company Name'] }} \n• Website: {{ $json.fields['Web site URL'] }}\n• Email: {{ $json.fields['Email address'] }} \n• Budget: {{ $json.fields.Budget }} \n\nThey've shown strong intent and are ready for the next step. Let me know if you need anything else from my side before reaching out.\n\n👉 Recommended next step: Personalized outreach to schedule a call/demo.  \n\nThanks,\nJayaprakash",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        400,
        -208
      ],
      "id": "987accb0-8dab-46d7-be5d-528f9035b1d5",
      "name": "Sales Rep Email",
      "webhookId": "294c3a0e-0cd3-436a-8d7b-8e940ed9eed5",
      "credentials": {
        "gmailOAuth2": {
          "id": "cYr8JnMctw6O6sph",
          "name": "Gmail OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "amount": 4
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        176,
        -16
      ],
      "id": "341abc93-bc02-4298-8a10-f342c503148a",
      "name": "Wait 4 sec",
      "webhookId": "3a3436fe-b907-4a47-99a4-0f9cbb1a00f6"
    },
    {
      "parameters": {
        "amount": 2
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        176,
        176
      ],
      "id": "d9fb47e4-f0f9-47bc-be9c-ff28da5dfbae",
      "name": "Wait 2 sec",
      "webhookId": "6636b731-a84e-4180-be93-28da8a4a1c4b"
    },
    {
      "parameters": {
        "sendTo": "jayaprakash6397@gmail.com ",
        "subject": "Let get started - schedule your call",
        "emailType": "text",
        "message": "=Hi {{ $('On form submission').item.json['What is your name?'] }},\n\nThanks for sharing a bit about your business. From what you've told us, it sounds like there's a real opportunity for us to help your challenges and help reach your goal.\n\nI'd love to learn more about what you're working on and explore how we can support you in reaching your goals.\n\nHere's a link to schedule a quick call at your convenience:\n👉 [Insert Calendar Link]\n\nLooking forward to connecting!\n\nBest regards,\nJayaprakash",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        624,
        -208
      ],
      "id": "59fea4f3-22c0-40bd-9952-a52541186dd7",
      "name": "Hot Lead's Email",
      "webhookId": "5d069de1-9b6e-4c82-a09a-4be0cbde612d",
      "credentials": {
        "gmailOAuth2": {
          "id": "cYr8JnMctw6O6sph",
          "name": "Gmail OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "jayaprakash6397@gmail.com ",
        "subject": "hii jp",
        "emailType": "text",
        "message": "=Hi {{ $('On form submission').item.json['What is your name?'] }},\n\nThanks for sharing a bit about your business. From what you've told us, it sounds like there's a real opportunity for us to help your challenges and help reach your goal.\n\nI'd love to learn more about what you're working on and explore how we can support you in reaching your goals.\n\nHere's a link to schedule a quick call at your convenience:\n👉 [Insert Calendar Link]\n\nLooking forward to connecting!\n\nBest regards,\nJayaprakash",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        400,
        -16
      ],
      "id": "d378d5b4-c394-459d-9698-ae7f94325ea2",
      "name": "Warm Lead's Email",
      "webhookId": "d28e962d-3578-4c3b-a994-a50ac7ac2998",
      "credentials": {
        "gmailOAuth2": {
          "id": "cYr8JnMctw6O6sph",
          "name": "Gmail OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "jayaprakash6397@gmail.com ",
        "subject": "Thank you for your intrest",
        "emailType": "text",
        "message": "=Hi {{ $('On form submission').item.json['What is your name?'] }} ,\n\nThank you for taking the time to share your details with us. After reviewing your information, it looks like we may not be the best fit for what you're currently looking for.\n\nWe truly appreciate your interest and hope to reconnect in the future if your needs change or align more closely with what we offer.\n\nIf you'd like, feel free to stay connected with us here: [Newsletter or resource link].\n\nWishing you all the best in your projects ahead.\n\nWarmly,\nJayaprakash",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        400,
        176
      ],
      "id": "5df86388-2cb8-46c6-8efb-ba2def55f06b",
      "name": "Cold Lead's Email",
      "webhookId": "5c1f72ac-b19d-4b1a-bf60-702be25c8109",
      "credentials": {
        "gmailOAuth2": {
          "id": "cYr8JnMctw6O6sph",
          "name": "Gmail OAuth2 API"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "On form submission": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Create a record",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait 4 sec",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait 2 sec",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a record": {
      "main": [
        [
          {
            "node": "Sales Rep Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sales Rep Email": {
      "main": [
        [
          {
            "node": "Hot Lead's Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 4 sec": {
      "main": [
        [
          {
            "node": "Warm Lead's Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 2 sec": {
      "main": [
        [
          {
            "node": "Cold Lead's Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "c80f7fea-45c8-4347-964c-5eb2d2369979",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "32d2ca5fdff6b81eed55290435ebbbc299eeda88d096195f910ff11fa084db5a"
  },
  "id": "LqZtJYuWXvgXfEtX",
  "tags": []
}